absl-py==2.1.0
astunparse==1.6.3
beautifulsoup4==4.12.3
blinker==1.4
boto3==1.34.162
botocore==1.34.162
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.2
flatbuffers==24.3.25
fonttools==4.53.0
frozendict==2.4.4
gast==0.6.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.64.1
h5py==3.11.0
html5lib==1.1
httplib2==0.20.2
idna==3.7
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
keras==3.4.1
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==18.1.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
ml-dtypes==0.3.2
more-itertools==8.10.0
multitasking==0.0.11
namex==0.0.8
numpy==1.26.4
oauthlib==3.2.0
opt-einsum==3.3.0
optree==0.12.0
packaging==24.1
pandas==2.2.2
pdfkit==1.0.0
peewee==3.17.5
pillow==10.4.0
platformdirs==4.2.2
protobuf==4.25.3
psycopg2-binary==2.9.9
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
PyPDF2==3.0.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==5.4.1
requests==2.32.3
rich==13.7.1
s3transfer==0.10.2
schedule==1.2.2
scikit-learn==1.5.1
scipy==1.14.0
SecretStorage==3.3.1
setuptools==70.2.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.31
ta==0.11.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow @ https://storage.googleapis.com/tensorflow/versions/2.16.1/tensorflow-2.16.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=4a123fbb5788ba30d1113ce01bb166ddf85056fcb40e287c32a929ebfa4aa061
termcolor==2.4.0
threadpoolctl==3.5.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
unattended-upgrades==0.1
urllib3==2.2.2
wadllib==1.3.6
webencodings==0.5.1
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
yfinance==0.2.40
zipp==1.0.0
